In [1]:
# Use this to read and digest the data

# Importing the libraries
import numpy as np 
import pandas as pd
import datetime
import math
import ast
import matplotlib.pyplot as plt
import seaborn as sns
# Show ALL columns
pd.set_option('display.max_columns', None)

In [2]:
#Load Datasets with Date Parsing 
inbound_shipments = pd.read_csv("inbound_shipments.csv", 
                                parse_dates=['created_date', 'updated_date', 'expected_arrival_date'])

inventory = pd.read_csv("inventory.csv", 
                        parse_dates=['created_date', 'updated_date'])

orders_line_items = pd.read_csv("orders_line_items.csv")

orders = pd.read_csv("orders.csv", 
                     parse_dates=['created_date', 'updated_date', 'required_ship_date'])

products = pd.read_csv("products.csv", 
                       parse_dates=['created_date', 'updated_date'])

shipping_methods = pd.read_csv("shipping_methods.csv", 
                               parse_dates=['created_date', 'updated_date'])

# Load suppliers without date parsing first to check column names
suppliers = pd.read_csv("suppliers.csv")

#Inspect Datasets: Overview, Data Types, and Missing Values

# Define function for inspection
def inspect_dataset(df):
    print(f"\n{df} Dataset Overview:")
    print("\nHEAD:\n", df.head())
    print("\nINFO:\n")
    print(df.info())
    print("\nMISSING VALUES:\n", df.isnull().sum())
    print("\n" + "-"*80 + "\n")


# Run inspections
inspect_dataset(products)
inspect_dataset(inventory)
inspect_dataset(orders_line_items)
inspect_dataset(orders)
inspect_dataset(inbound_shipments)
inspect_dataset(shipping_methods)
inspect_dataset(suppliers)

/var/folders/_j/5gy7sssx29n0hjwrrtf9w0zh0000gn/T/ipykernel_84377/2623992702.py:10: DtypeWarning: Columns (5,8,11,23,24,26,32) have mixed types. Specify dtype option on import or set low_memory=False.
  orders = pd.read_csv("orders.csv",

                    id  warehouse_customer_id              created_date  \
0     AB10BBLK00_20494                  20494 2024-03-06 06:00:00+00:00
1     AB10BBLK10_20494                  20494 2024-04-09 05:00:00+00:00
2     AB10BBLK15_20494                  20494 2024-03-06 06:00:00+00:00
3     AB10BBLK20_20494                  20494 2024-03-06 06:00:00+00:00
4     AB10BBLK25_20494                  20494 2025-04-10 05:00:00+00:00
...                ...                    ...                       ...
1834  WI80SBLK20_20494                  20494 2024-03-06 06:00:00+00:00
1835  WI80SBLK25_20494                  20494 2024-04-09 05:00:00+00:00
1836  WI80SNTP10_20494                  20494 2024-03-06 06:00:00+00:00
1837  WI80SNTP15_20494                  20494 2025-04-02 05:00:00+00:00
1838  WI80SNTP20_20494                  20494 2024-03-06 06:00:00+00:00

                  updated_date                        name         sku  \
0    2025-06-17 07:13:23+00:00    Abbey Blue-light Black 0  AB10BBLK00
1    2025-06-10 07:42:06+00:00    Abbey Blue-light Black 1  AB10BBLK10
2    2025-06-24 05:38:40+00:00  Abbey Blue-light Black 1.5  AB10BBLK15
3    2025-06-18 05:33:29+00:00    Abbey Blue-light Black 2  AB10BBLK20
4    2025-06-22 06:10:24+00:00  Abbey Blue-light Black 2.5  AB10BBLK25
...                        ...                         ...         ...
1834 2025-05-21 04:46:02+00:00           Wills Sun Black 2  WI80SBLK20
1835 2025-05-21 04:46:03+00:00         Wills Sun Black 2.5  WI80SBLK25
1836 2025-05-21 04:46:02+00:00      Wills Sun Navy Taupe 1  WI80SNTP10
1837 2025-05-21 04:46:13+00:00    Wills Sun Navy Taupe 1.5  WI80SNTP15
1838 2025-05-21 04:46:02+00:00      Wills Sun Navy Taupe 2  WI80SNTP20

              gtin                                    inventory_items  is_kit  \
0     852055008551  [{'inventory_item_id': 'AB10BBLK00_20494', 'sk...   False
1     852055008568  [{'inventory_item_id': 'AB10BBLK10_20494', 'sk...   False
2     852055008575  [{'inventory_item_id': 'AB10BBLK15_20494', 'sk...   False
3     852055008582  [{'inventory_item_id': 'AB10BBLK20_20494', 'sk...   False
4     852055008599  [{'inventory_item_id': 'AB10BBLK25_20494', 'sk...   False
...            ...                                                ...     ...
1834  860007073601  [{'inventory_item_id': 'WI80SBLK20_20494', 'sk...   False
1835  860007073632  [{'inventory_item_id': 'WI80SBLK25_20494', 'sk...   False
1836  850032498951  [{'inventory_item_id': 'WI80SNTP10_20494', 'sk...   False
1837  850032498982  [{'inventory_item_id': 'WI80SNTP15_20494', 'sk...   False
1838  860007073618  [{'inventory_item_id': 'WI80SNTP20_20494', 'sk...   False

      active  supplier  country_of_origin  harmonized_code supplier_products  \
0       True       NaN                NaN              NaN                []
1       True       NaN                NaN              NaN                []
2       True       NaN                NaN              NaN                []
3       True       NaN                NaN              NaN                []
4       True       NaN                NaN              NaN                []
...      ...       ...                ...              ...               ...
1834    True       NaN                NaN              NaN                []
1835    True       NaN                NaN              NaN                []
1836    True       NaN                NaN              NaN                []
1837    True       NaN                NaN              NaN                []
1838    True       NaN                NaN              NaN                []

                                    external_system_url  unit_price  \
0     https://shipcalm.infopluswms.com/infoplus-wms/...        88.0
1     https://shipcalm.infopluswms.com/infoplus-wms/...        88.0
2     https://shipcalm.infopluswms.com/infoplus-wms/...        88.0
3     https://shipcalm.infopluswms.com/infoplus-wms/...        88.0
4     https://shipcalm.infopluswms.com/infoplus-wms/...        88.0
...                                                 ...         ...
1834  https://shipcalm.infopluswms.com/infoplus-wms/...        82.0
1835  https://shipcalm.infopluswms.com/infoplus-wms/...        82.0
1836  https://shipcalm.infopluswms.com/infoplus-wms/...        82.0
1837  https://shipcalm.infopluswms.com/infoplus-wms/...        88.0
1838  https://shipcalm.infopluswms.com/infoplus-wms/...        82.0

      supplier_object trackstar_tags additional_fields
0                 NaN             []                {}
1                 NaN             []                {}
2                 NaN             []                {}
3                 NaN             []                {}
4                 NaN             []                {}
...               ...            ...               ...
1834              NaN             []                {}
1835              NaN             []                {}
1836              NaN             []                {}
1837              NaN             []                {}
1838              NaN             []                {}

[1839 rows x 19 columns] Dataset Overview:

HEAD:
                  id  warehouse_customer_id              created_date  \
0  AB10BBLK00_20494                  20494 2024-03-06 06:00:00+00:00
1  AB10BBLK10_20494                  20494 2024-04-09 05:00:00+00:00
2  AB10BBLK15_20494                  20494 2024-03-06 06:00:00+00:00
3  AB10BBLK20_20494                  20494 2024-03-06 06:00:00+00:00
4  AB10BBLK25_20494                  20494 2025-04-10 05:00:00+00:00

               updated_date                        name         sku  \
0 2025-06-17 07:13:23+00:00    Abbey Blue-light Black 0  AB10BBLK00
1 2025-06-10 07:42:06+00:00    Abbey Blue-light Black 1  AB10BBLK10
2 2025-06-24 05:38:40+00:00  Abbey Blue-light Black 1.5  AB10BBLK15
3 2025-06-18 05:33:29+00:00    Abbey Blue-light Black 2  AB10BBLK20
4 2025-06-22 06:10:24+00:00  Abbey Blue-light Black 2.5  AB10BBLK25

           gtin                                    inventory_items  is_kit  \
0  852055008551  [{'inventory_item_id': 'AB10BBLK00_20494', 'sk...   False
1  852055008568  [{'inventory_item_id': 'AB10BBLK10_20494', 'sk...   False
2  852055008575  [{'inventory_item_id': 'AB10BBLK15_20494', 'sk...   False
3  852055008582  [{'inventory_item_id': 'AB10BBLK20_20494', 'sk...   False
4  852055008599  [{'inventory_item_id': 'AB10BBLK25_20494', 'sk...   False

   active  supplier  country_of_origin  harmonized_code supplier_products  \
0    True       NaN                NaN              NaN                []
1    True       NaN                NaN              NaN                []
2    True       NaN                NaN              NaN                []
3    True       NaN                NaN              NaN                []
4    True       NaN                NaN              NaN                []

                                 external_system_url  unit_price  \
0  https://shipcalm.infopluswms.com/infoplus-wms/...        88.0
1  https://shipcalm.infopluswms.com/infoplus-wms/...        88.0
2  https://shipcalm.infopluswms.com/infoplus-wms/...        88.0
3  https://shipcalm.infopluswms.com/infoplus-wms/...        88.0
4  https://shipcalm.infopluswms.com/infoplus-wms/...        88.0

   supplier_object trackstar_tags additional_fields
0              NaN             []                {}
1              NaN             []                {}
2              NaN             []                {}
3              NaN             []                {}
4              NaN             []                {}

INFO:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1839 entries, 0 to 1838
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     1839 non-null   object
 1   warehouse_customer_id  1839 non-null   int64
 2   created_date           1839 non-null   datetime64[ns, UTC]
 3   updated_date           1839 non-null   datetime64[ns, UTC]
 4   name                   1839 non-null   object
 5   sku                    1839 non-null   object
 6   gtin                   1831 non-null   object
 7   inventory_items        1839 non-null   object
 8   is_kit                 1839 non-null   bool
 9   active                 1839 non-null   bool
 10  supplier               0 non-null      float64
 11  country_of_origin      0 non-null      float64
 12  harmonized_code        339 non-null    float64
 13  supplier_products      1839 non-null   object
 14  external_system_url    1839 non-null   object
 15  unit_price             1808 non-null   float64
 16  supplier_object        0 non-null      float64
 17  trackstar_tags         1834 non-null   object
 18  additional_fields      1834 non-null   object
dtypes: bool(2), datetime64[ns, UTC](2), float64(5), int64(1), object(9)
memory usage: 248.0+ KB
None

MISSING VALUES:
 id                          0
warehouse_customer_id       0
created_date                0
updated_date                0
name                        0
sku                         0
gtin                        8
inventory_items             0
is_kit                      0
active                      0
supplier                 1839
country_of_origin        1839
harmonized_code          1500
supplier_products           0
external_system_url         0
unit_price                 31
supplier_object          1839
trackstar_tags              5
additional_fields           5
dtype: int64

--------------------------------------------------------------------------------


                    id  warehouse_customer_id              created_date  \
0     AB10BBLK00_20494                  20494 2024-03-06 06:00:00+00:00
1     AB10BBLK10_20494                  20494 2024-04-09 05:00:00+00:00
2     AB10BBLK15_20494                  20494 2024-03-06 06:00:00+00:00
3     AB10BBLK20_20494                  20494 2024-03-06 06:00:00+00:00
4     AB10BBLK25_20494                  20494 2025-04-10 05:00:00+00:00
...                ...                    ...                       ...
1829  WI80SBLK20_20494                  20494 2024-03-06 06:00:00+00:00
1830  WI80SBLK25_20494                  20494 2024-04-09 05:00:00+00:00
1831  WI80SNTP10_20494                  20494 2024-03-06 06:00:00+00:00
1832  WI80SNTP15_20494                  20494 2025-04-02 05:00:00+00:00
1833  WI80SNTP20_20494                  20494 2024-03-06 06:00:00+00:00

                  updated_date                        name         sku  \
0    2025-06-17 07:13:23+00:00    Abbey Blue-light Black 0  AB10BBLK00
1    2025-06-10 07:42:06+00:00    Abbey Blue-light Black 1  AB10BBLK10
2    2025-06-24 05:38:40+00:00  Abbey Blue-light Black 1.5  AB10BBLK15
3    2025-06-18 05:33:29+00:00    Abbey Blue-light Black 2  AB10BBLK20
4    2025-06-22 06:10:24+00:00  Abbey Blue-light Black 2.5  AB10BBLK25
...                        ...                         ...         ...
1829 2025-06-13 22:28:44+00:00           Wills Sun Black 2  WI80SBLK20
1830 2025-06-13 22:28:56+00:00         Wills Sun Black 2.5  WI80SBLK25
1831 2025-06-13 22:29:06+00:00      Wills Sun Navy Taupe 1  WI80SNTP10
1832 2025-06-05 21:38:57+00:00    Wills Sun Navy Taupe 1.5  WI80SNTP15
1833 2025-06-13 22:29:15+00:00      Wills Sun Navy Taupe 2  WI80SNTP20

      active  awaiting  onhand  committed  unfulfillable  fulfillable  \
0       True         0     106          0              0          106
1       True         0      23          0              0           23
2       True         0      41          0              0           41
3       True         0      31          0              0           31
4       True         0      29          0              0           29
...      ...       ...     ...        ...            ...          ...
1829    True         0       4          0              0            4
1830    True         0       0          0              0            0
1831    True         0       0          0              0            0
1832    True         0       4          0              0            4
1833    True         0       0          0              0            0

      unsellable  sellable substitute_skus  \
0              0       106              []
1              0        23              []
2              0        41              []
3              0        31              []
4              0        29              []
...          ...       ...             ...
1829           0         4              []
1830           0         0              []
1831           0         0              []
1832           0         4              []
1833           0         0              []

                              inventory_by_warehouse_id lots  \
0     {'2121': {'awaiting': 0, 'onhand': 0, 'committ...   []
1     {'2121': {'awaiting': 0, 'onhand': 0, 'committ...   []
2     {'2121': {'awaiting': 0, 'onhand': 0, 'committ...   []
3     {'2121': {'awaiting': 0, 'onhand': 0, 'committ...   []
4     {'2121': {'awaiting': 0, 'onhand': 0, 'committ...   []
...                                                 ...  ...
1829  {'2121': {'awaiting': 0, 'onhand': 0, 'committ...   []
1830  {'2121': {'awaiting': 0, 'onhand': 0, 'committ...   []
1831  {'2121': {'awaiting': 0, 'onhand': 0, 'committ...   []
1832  {'2121': {'awaiting': 0, 'onhand': 0, 'committ...   []
1833  {'2121': {'awaiting': 0, 'onhand': 0, 'committ...   []

                                           measurements locations  \
0     {'length': 7.0, 'width': 3.12, 'height': 2.0, ...        []
1     {'length': 7.0, 'width': 3.12, 'height': 2.0, ...        []
2     {'length': 7.0, 'width': 3.12, 'height': 2.0, ...        []
3     {'length': 7.0, 'width': 3.12, 'height': 2.0, ...        []
4     {'length': 7.0, 'width': 3.12, 'height': 2.0, ...        []
...                                                 ...       ...
1829  {'length': 7.0, 'width': 2.0, 'height': 10.0, ...        []
1830  {'length': 7.0, 'width': 2.0, 'height': 10.0, ...        []
1831  {'length': 7.0, 'width': 2.0, 'height': 10.0, ...        []
1832  {'length': 7.0, 'width': 3.12, 'height': 2.0, ...        []
1833  {'length': 7.0, 'width': 2.0, 'height': 10.0, ...        []

                                    external_system_url  unit_cost  \
0     https://shipcalm.infopluswms.com/infoplus-wms/...        NaN
1     https://shipcalm.infopluswms.com/infoplus-wms/...        NaN
2     https://shipcalm.infopluswms.com/infoplus-wms/...        NaN
3     https://shipcalm.infopluswms.com/infoplus-wms/...        NaN
4     https://shipcalm.infopluswms.com/infoplus-wms/...        NaN
...                                                 ...        ...
1829  https://shipcalm.infopluswms.com/infoplus-wms/...        NaN
1830  https://shipcalm.infopluswms.com/infoplus-wms/...        NaN
1831  https://shipcalm.infopluswms.com/infoplus-wms/...        NaN
1832  https://shipcalm.infopluswms.com/infoplus-wms/...        NaN
1833  https://shipcalm.infopluswms.com/infoplus-wms/...        NaN

     trackstar_tags additional_fields
0                []                {}
1                []                {}
2                []                {}
3                []                {}
4                []                {}
...             ...               ...
1829             []                {}
1830             []                {}
1831             []                {}
1832             []                {}
1833             []                {}

[1834 rows x 23 columns] Dataset Overview:

HEAD:
                  id  warehouse_customer_id              created_date  \
0  AB10BBLK00_20494                  20494 2024-03-06 06:00:00+00:00
1  AB10BBLK10_20494                  20494 2024-04-09 05:00:00+00:00
2  AB10BBLK15_20494                  20494 2024-03-06 06:00:00+00:00
3  AB10BBLK20_20494                  20494 2024-03-06 06:00:00+00:00
4  AB10BBLK25_20494                  20494 2025-04-10 05:00:00+00:00

               updated_date                        name         sku  active  \
0 2025-06-17 07:13:23+00:00    Abbey Blue-light Black 0  AB10BBLK00    True
1 2025-06-10 07:42:06+00:00    Abbey Blue-light Black 1  AB10BBLK10    True
2 2025-06-24 05:38:40+00:00  Abbey Blue-light Black 1.5  AB10BBLK15    True
3 2025-06-18 05:33:29+00:00    Abbey Blue-light Black 2  AB10BBLK20    True
4 2025-06-22 06:10:24+00:00  Abbey Blue-light Black 2.5  AB10BBLK25    True

   awaiting  onhand  committed  unfulfillable  fulfillable  unsellable  \
0         0     106          0              0          106           0
1         0      23          0              0           23           0
2         0      41          0              0           41           0
3         0      31          0              0           31           0
4         0      29          0              0           29           0

   sellable substitute_skus  \
0       106              []
1        23              []
2        41              []
3        31              []
4        29              []

                           inventory_by_warehouse_id lots  \
0  {'2121': {'awaiting': 0, 'onhand': 0, 'committ...   []
1  {'2121': {'awaiting': 0, 'onhand': 0, 'committ...   []
2  {'2121': {'awaiting': 0, 'onhand': 0, 'committ...   []
3  {'2121': {'awaiting': 0, 'onhand': 0, 'committ...   []
4  {'2121': {'awaiting': 0, 'onhand': 0, 'committ...   []

                                        measurements locations  \
0  {'length': 7.0, 'width': 3.12, 'height': 2.0, ...        []
1  {'length': 7.0, 'width': 3.12, 'height': 2.0, ...        []
2  {'length': 7.0, 'width': 3.12, 'height': 2.0, ...        []
3  {'length': 7.0, 'width': 3.12, 'height': 2.0, ...        []
4  {'length': 7.0, 'width': 3.12, 'height': 2.0, ...        []

                                 external_system_url  unit_cost  \
0  https://shipcalm.infopluswms.com/infoplus-wms/...        NaN
1  https://shipcalm.infopluswms.com/infoplus-wms/...        NaN
2  https://shipcalm.infopluswms.com/infoplus-wms/...        NaN
3  https://shipcalm.infopluswms.com/infoplus-wms/...        NaN
4  https://shipcalm.infopluswms.com/infoplus-wms/...        NaN

  trackstar_tags additional_fields
0             []                {}
1             []                {}
2             []                {}
3             []                {}
4             []                {}

INFO:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1834 entries, 0 to 1833
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         1834 non-null   object
 1   warehouse_customer_id      1834 non-null   int64
 2   created_date               1834 non-null   datetime64[ns, UTC]
 3   updated_date               1834 non-null   datetime64[ns, UTC]
 4   name                       1834 non-null   object
 5   sku                        1834 non-null   object
 6   active                     1834 non-null   bool
 7   awaiting                   1834 non-null   int64
 8   onhand                     1834 non-null   int64
 9   committed                  1834 non-null   int64
 10  unfulfillable              1834 non-null   int64
 11  fulfillable                1834 non-null   int64
 12  unsellable                 1834 non-null   int64
 13  sellable                   1834 non-null   int64
 14  substitute_skus            1834 non-null   object
 15  inventory_by_warehouse_id  1834 non-null   object
 16  lots                       1834 non-null   object
 17  measurements               1834 non-null   object
 18  locations                  1834 non-null   object
 19  external_system_url        1834 non-null   object
 20  unit_cost                  0 non-null      float64
 21  trackstar_tags             1834 non-null   object
 22  additional_fields          1834 non-null   object
dtypes: bool(1), datetime64[ns, UTC](2), float64(1), int64(8), object(11)
memory usage: 317.1+ KB
None

MISSING VALUES:
 id                              0

In [3]:
products

,id,warehouse_customer_id,created_date,updated_date,name,sku,gtin,inventory_items,is_kit,active,supplier,country_of_origin,harmonized_code,supplier_products,external_system_url,unit_price,supplier_object,trackstar_tags,additional_fields
0,AB10BBLK00_20494,20494,2024-03-06 06:00:00+00:00,2025-06-17 07:13:23+00:00,Abbey Blue-light Black 0,AB10BBLK00,852055008551,"[{'inventory_item_id': 'AB10BBLK00_20494', 'sk...",False,True,NaN,NaN,NaN,[],https://shipcalm.infopluswms.com/infoplus-wms/...,88.0,NaN,[],{}
1,AB10BBLK10_20494,20494,2024-04-09 05:00:00+00:00,2025-06-10 07:42:06+00:00,Abbey Blue-light Black 1,AB10BBLK10,852055008568,"[{'inventory_item_id': 'AB10BBLK10_20494', 'sk...",False,True,NaN,NaN,NaN,[],https://shipcalm.infopluswms.com/infoplus-wms/...,88.0,NaN,[],{}
2,AB10BBLK15_20494,20494,2024-03-06 06:00:00+00:00,2025-06-24 05:38:40+00:00,Abbey Blue-light Black 1.5,AB10BBLK15,852055008575,"[{'inventory_item_id': 'AB10BBLK15_20494', 'sk...",False,True,NaN,NaN,NaN,[],https://shipcalm.infopluswms.com/infoplus-wms/...,88.0,NaN,[],{}
3,AB10BBLK20_20494,20494,2024-03-06 06:00:00+00:00,2025-06-18 05:33:29+00:00,Abbey Blue-light Black 2,AB10BBLK20,852055008582,"[{'inventory_item_id': 'AB10BBLK20_20494', 'sk...",False,True,NaN,NaN,NaN,[],https://shipcalm.infopluswms.com/infoplus-wms/...,88.0,NaN,[],{}
4,AB10BBLK25_20494,20494,2025-04-10 05:00:00+00:00,2025-06-22 06:10:24+00:00,Abbey Blue-light Black 2.5,AB10BBLK25,852055008599,"[{'inventory_item_id': 'AB10BBLK25_20494', 'sk...",False,True,NaN,NaN,NaN,[],https://shipcalm.infopluswms.com/infoplus-wms/...,88.0,NaN,[],{}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1834,WI80SBLK20_20494,20494,2024-03-06 06:00:00+00:00,2025-05-21 04:46:02+00:00,Wills Sun Black 2,WI80SBLK20,860007073601,"[{'inventory_item_id': 'WI80SBLK20_20494', 'sk...",False,True,NaN,NaN,NaN,[],https://shipcalm.infopluswms.com/infoplus-wms/...,82.0,NaN,[],{}
1835,WI80SBLK25_20494,20494,2024-04-09 05:00:00+00:00,2025-05-21 04:46:03+00:00,Wills Sun Black 2.5,WI80SBLK25,860007073632,"[{'inventory_item_id': 'WI80SBLK25_20494', 'sk...",False,True,NaN,NaN,NaN,[],https://shipcalm.infopluswms.com/infoplus-wms/...,82.0,NaN,[],{}
1836,WI80SNTP10_20494,20494,2024-03-06 06:00:00+00:00,2025-05-21 04:46:02+00:00,Wills Sun Navy Taupe 1,WI80SNTP10,850032498951,"[{'inventory_item_id': 'WI80SNTP10_20494', 'sk...",False,True,NaN,NaN,NaN,[],https://shipcalm.infopluswms.com/infoplus-wms/...,82.0,NaN,[],{}
1837,WI80SNTP15_20494,20494,2025-04-02 05:00:00+00:00,2025-05-21 04:46:13+00:00,Wills Sun Navy Taupe 1.5,WI80SNTP15,850032498982,"[{'inventory_item_id': 'WI80SNTP15_20494', 'sk...",False,True,NaN,NaN,NaN,[],https://shipcalm.infopluswms.com/infoplus-wms/...,88.0,NaN,[],{}
1838,WI80SNTP20_20494,20494,2024-03-06 06:00:00+00:00,2025-05-21 04:46:02+00:00,Wills Sun Navy Taupe 2,WI80SNTP20,860007073618,"[{'inventory_item_id': 'WI80SNTP20_20494', 'sk...",False,True,NaN,NaN,NaN,[],https://shipcalm.infopluswms.com/infoplus-wms/...,82.0,NaN,[],{}

In [4]:
inventory

,id,warehouse_customer_id,created_date,updated_date,name,sku,active,awaiting,onhand,committed,unfulfillable,fulfillable,unsellable,sellable,substitute_skus,inventory_by_warehouse_id,lots,measurements,locations,external_system_url,unit_cost,trackstar_tags,additional_fields
0,AB10BBLK00_20494,20494,2024-03-06 06:00:00+00:00,2025-06-17 07:13:23+00:00,Abbey Blue-light Black 0,AB10BBLK00,True,0,106,0,0,106,0,106,[],"{'2121': {'awaiting': 0, 'onhand': 0, 'committ...",[],"{'length': 7.0, 'width': 3.12, 'height': 2.0, ...",[],https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,[],{}
1,AB10BBLK10_20494,20494,2024-04-09 05:00:00+00:00,2025-06-10 07:42:06+00:00,Abbey Blue-light Black 1,AB10BBLK10,True,0,23,0,0,23,0,23,[],"{'2121': {'awaiting': 0, 'onhand': 0, 'committ...",[],"{'length': 7.0, 'width': 3.12, 'height': 2.0, ...",[],https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,[],{}
2,AB10BBLK15_20494,20494,2024-03-06 06:00:00+00:00,2025-06-24 05:38:40+00:00,Abbey Blue-light Black 1.5,AB10BBLK15,True,0,41,0,0,41,0,41,[],"{'2121': {'awaiting': 0, 'onhand': 0, 'committ...",[],"{'length': 7.0, 'width': 3.12, 'height': 2.0, ...",[],https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,[],{}
3,AB10BBLK20_20494,20494,2024-03-06 06:00:00+00:00,2025-06-18 05:33:29+00:00,Abbey Blue-light Black 2,AB10BBLK20,True,0,31,0,0,31,0,31,[],"{'2121': {'awaiting': 0, 'onhand': 0, 'committ...",[],"{'length': 7.0, 'width': 3.12, 'height': 2.0, ...",[],https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,[],{}
4,AB10BBLK25_20494,20494,2025-04-10 05:00:00+00:00,2025-06-22 06:10:24+00:00,Abbey Blue-light Black 2.5,AB10BBLK25,True,0,29,0,0,29,0,29,[],"{'2121': {'awaiting': 0, 'onhand': 0, 'committ...",[],"{'length': 7.0, 'width': 3.12, 'height': 2.0, ...",[],https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,[],{}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1829,WI80SBLK20_20494,20494,2024-03-06 06:00:00+00:00,2025-06-13 22:28:44+00:00,Wills Sun Black 2,WI80SBLK20,True,0,4,0,0,4,0,4,[],"{'2121': {'awaiting': 0, 'onhand': 0, 'committ...",[],"{'length': 7.0, 'width': 2.0, 'height': 10.0, ...",[],https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,[],{}
1830,WI80SBLK25_20494,20494,2024-04-09 05:00:00+00:00,2025-06-13 22:28:56+00:00,Wills Sun Black 2.5,WI80SBLK25,True,0,0,0,0,0,0,0,[],"{'2121': {'awaiting': 0, 'onhand': 0, 'committ...",[],"{'length': 7.0, 'width': 2.0, 'height': 10.0, ...",[],https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,[],{}
1831,WI80SNTP10_20494,20494,2024-03-06 06:00:00+00:00,2025-06-13 22:29:06+00:00,Wills Sun Navy Taupe 1,WI80SNTP10,True,0,0,0,0,0,0,0,[],"{'2121': {'awaiting': 0, 'onhand': 0, 'committ...",[],"{'length': 7.0, 'width': 2.0, 'height': 10.0, ...",[],https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,[],{}
1832,WI80SNTP15_20494,20494,2025-04-02 05:00:00+00:00,2025-06-05 21:38:57+00:00,Wills Sun Navy Taupe 1.5,WI80SNTP15,True,0,4,0,0,4,0,4,[],"{'2121': {'awaiting': 0, 'onhand': 0, 'committ...",[],"{'length': 7.0, 'width': 3.12, 'height': 2.0, ...",[],https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,[],{}
1833,WI80SNTP20_20494,20494,2024-03-06 06:00:00+00:00,2025-06-13 22:29:15+00:00,Wills Sun Navy Taupe 2,WI80SNTP20,True,0,0,0,0,0,0,0,[],"{'2121': {'awaiting': 0, 'onhand': 0, 'committ...",[],"{'length': 7.0, 'width': 2.0, 'height': 10.0, ...",[],https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,[],{}

In [5]:
orders

,id,warehouse_customer_id,created_date,updated_date,reference_id,order_number,status,raw_status,channel,type,trading_partner,shipping_method,invoice_currency_code,total_price,total_tax,total_discount,total_shipping,ship_to_address,line_items,tags,required_ship_date,shipments,external_system_url,channel_object,trackstar_tags,warehouse_id,is_third_party_freight,third_party_freight_account_number,saturday_delivery,signature_required,international_duty_paid_by,first_party_freight_account_number,additional_fields
0,1000033.0,20494,2023-11-25 09:01:00+00:00,2023-11-25 18:25:03+00:00,1000033.0,1000033.0,fulfilled,Shipped,NaN,NaN,NaN,NaN,USD,194.15,13.95,NaN,0.0,"{'full_name': None, 'company': 'SVITLANA NATA...","[{'product_id': 'CO70BLK10_20494', 'sku': 'CO7...",[],2023-11-25 06:00:00+00:00,"[{'shipment_id': '920940', 'warehouse_id': '21...",https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000063.0,20494,2023-11-25 09:42:00+00:00,2023-11-25 18:36:36+00:00,1000063.0,1000063.0,fulfilled,Shipped,NaN,NaN,NaN,NaN,USD,166.00,0.00,NaN,0.0,"{'full_name': None, 'company': 'KELLY FOEHNER'...","[{'product_id': 'BO20SGB15_20494', 'sku': 'BO2...",[],2023-11-25 06:00:00+00:00,"[{'shipment_id': '920964', 'warehouse_id': '21...",https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000094.0,20494,2023-11-25 10:47:00+00:00,2023-11-25 15:32:46+00:00,1000094.0,1000094.0,fulfilled,Shipped,NaN,NaN,NaN,NaN,USD,157.65,7.65,NaN,0.0,"{'full_name': None, 'company': 'JAMIE LAFAVE',...","[{'product_id': 'CO70BLK15_20494', 'sku': 'CO7...",[],2023-11-25 06:00:00+00:00,"[{'shipment_id': '920199', 'warehouse_id': '21...",https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000106.0,20494,2023-11-25 11:07:00+00:00,2023-11-25 18:48:32+00:00,1000106.0,1000106.0,fulfilled,Shipped,NaN,NaN,NaN,NaN,USD,103.83,5.83,NaN,0.0,"{'full_name': None, 'company': 'AMY MOREAU', '...","[{'product_id': 'LA40PTOR15_20494', 'sku': 'LA...",[],2023-11-25 06:00:00+00:00,"[{'shipment_id': '920989', 'warehouse_id': '21...",https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000322.0,20494,2023-11-25 13:08:00+00:00,2023-11-27 13:13:42+00:00,1000322.0,1000322.0,fulfilled,Shipped,NaN,NaN,NaN,NaN,USD,216.43,10.43,NaN,0.0,"{'full_name': None, 'company': 'SARAH TURNER',...","[{'product_id': 'LA40PTPE15_20494', 'sku': 'LA...",[],2023-11-25 06:00:00+00:00,"[{'shipment_id': '921613', 'warehouse_id': '21...",https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356680,999915.0,20494,2023-11-25 07:27:00+00:00,2023-11-25 18:34:39+00:00,999915.0,999915.0,fulfilled,Shipped,NaN,NaN,NaN,NaN,USD,144.22,8.22,NaN,0.0,"{'full_name': None, 'company': 'LYLA MAX', 'ad...","[{'product_id': 'LA40BLK30_20494', 'sku': 'LA4...",[],2023-11-25 06:00:00+00:00,"[{'shipment_id': '920959', 'warehouse_id': '21...",https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356681,999941.0,20494,2023-11-25 07:41:00+00:00,2023-11-25 18:26:47+00:00,999941.0,999941.0,fulfilled,Shipped,NaN,NaN,NaN,NaN,USD,105.60,7.60,NaN,0.0,"{'full_name': None, 'company': 'MICHELLE CORRI...","[{'product_id': 'CO70PTPE15_20494', 'sku': 'CO...",[],2023-11-25 06:00:00+00:00,"[{'shipment_id': '920944', 'warehouse_id': '21...",https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356682,999996.0,20494,2023-11-25 08:21:00+00:00,2023-11-25 18:40:51+00:00,999996.0,999996.0,fulfilled,Shipped,NaN,NaN,NaN,NaN,USD,196.00,0.00,NaN,0.0,"{'full_name': None, 'company': 'MICHELLE WADDE...","[{'product_id': 'CO70PTPE15_20494', 'sku': 'CO...",[],2023-11-25 06:00:00+00:00,"[{'shipment_id': '920974', 'warehouse_id': '21...",https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356683,999997.0,20494,2023-11-25 08:21:00+00:00,2023-11-25 18:28:51+00:00,999997.0,999997.0,fulfilled,Shipped,NaN,NaN,NaN,NaN,USD,176.19,10.19,NaN,0.0,"{'full_name': None, 'company': 'DANNELL STUART...","[{'product_id': 'CO70PTOR15_20494', 'sku': 'CO...",[],2023-11-25 06:00:00+00:00,"[{'shipment_id': '920950', 'warehouse_id': '21...",https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356684,999998.0,20494,2023-11-25 08:21:00+00:00,2023-11-25 18:22:39+00:00,999998.0,999998.0,fulfilled,Shipped,NaN,NaN,NaN,NaN,USD,210.00,0.00,NaN,0.0,"{'full_name': None, 'company': 'JENIFFER NETHE...","[{'product_id': 'CO70PTOR15_20494', 'sku': 'CO...",[],2023-11-25 06:00:00+00:00,"[{'shipment_id': '920939', 'warehouse_id': '21...",https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
orders_line_items

,product_id,sku,quantity,unit_price,is_picked,discount_amount,id
0,CO70BLK10_20494,CO70BLK10,1,44.2,True,NaN,1000033.0
1,CO70CRN10_20494,CO70CRN10,1,68.0,True,NaN,1000033.0
2,CO70LKB10_20494,CO70LKB10,1,68.0,True,NaN,1000033.0
3,BO20SGB15_20494,BO20SGB15,1,68.0,True,NaN,1000063.0
4,SU30PNAV15_20494,SU30PNAV15,1,98.0,True,NaN,1000063.0
...,...,...,...,...,...,...,...
545035,LA40PNAV15_20494,LA40PNAV15,1,98.0,True,NaN,999996.0
545036,CO70PTOR15_20494,CO70PTOR15,1,98.0,True,NaN,999997.0
545037,SU30TOR15_20494,SU30TOR15,1,68.0,True,NaN,999997.0
545038,CO70PTOR15_20494,CO70PTOR15,1,98.0,True,NaN,999998.0
545039,MU35PGLD10_20494,MU35PGLD10,1,112.0,True,NaN,999998.0

In [7]:
inbound_shipments

,id,warehouse_customer_id,created_date,updated_date,purchase_order_number,status,raw_status,supplier,expected_arrival_date,warehouse_id,line_items,receipts,ship_from_address,tracking_numbers,notes,external_system_url,supplier_object,trackstar_tags,additional_fields
0,100874,20494,2023-11-06 14:03:46+00:00,2023-11-06 14:04:50+00:00,PROXY-LOOKOPTIC-110623,received,Received,1296.0,2023-11-06 00:00:00+00:00,2135,"[{'inventory_item_id': 'CP85PSIL15_20494', 'sk...","[{'id': '151765', 'arrived_date': '2023-11-06T...","{'address1': None, 'address2': None, 'address3...",[],[],https://shipcalm.infopluswms.com/infoplus-wms/...,"{'supplier_id': '1296_20494', 'supplier_name':...",[],NaN
1,101102,20494,2023-11-06 18:46:29+00:00,2023-11-16 18:06:08+00:00,ASN-110623,received,Received,1296.0,2023-11-06 00:00:00+00:00,2135,"[{'inventory_item_id': 'AB10NAV15_20494', 'sku...","[{'id': '152084', 'arrived_date': '2023-11-16T...","{'address1': None, 'address2': None, 'address3...",[],[],https://shipcalm.infopluswms.com/infoplus-wms/...,"{'supplier_id': '1296_20494', 'supplier_name':...",[],NaN
2,101490,20494,2023-11-08 17:02:18+00:00,2023-12-11 22:14:39+00:00,231025048,received,Received,1296.0,2023-11-08 00:00:00+00:00,2135,"[{'inventory_item_id': 'AB10BLK15_20494', 'sku...","[{'id': '152862', 'arrived_date': '2023-11-14T...","{'address1': None, 'address2': None, 'address3...",[],[],https://shipcalm.infopluswms.com/infoplus-wms/...,"{'supplier_id': '1296_20494', 'supplier_name':...",[],NaN
3,101877,20494,2023-11-10 17:54:03+00:00,2023-11-10 17:56:50+00:00,PROXY.LOOKOPTIC.11.10.23.MU35GLP00,received,Received,1299.0,2023-11-10 00:00:00+00:00,2135,"[{'inventory_item_id': 'MU35GLP00_20494', 'sku...","[{'id': '154221', 'arrived_date': '2023-11-10T...","{'address1': None, 'address2': None, 'address3...",[],[],https://shipcalm.infopluswms.com/infoplus-wms/...,"{'supplier_id': '1299_20494', 'supplier_name':...",[],NaN
4,102715,20494,2023-11-15 19:18:14+00:00,2024-02-05 15:13:00+00:00,RMA-255033LO,received,Received,1295.0,NaT,2135,"[{'inventory_item_id': 'LA40PBLK10_20494', 'sk...","[{'id': '155775', 'arrived_date': '2024-02-05T...","{'address1': None, 'address2': None, 'address3...",[],[],https://shipcalm.infopluswms.com/infoplus-wms/...,"{'supplier_id': '1295_20494', 'supplier_name':...",[],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
611,98504,20494,2023-10-18 20:39:49+00:00,2023-11-16 11:48:22+00:00,230927109,received,Received,1299.0,2023-10-18 00:00:00+00:00,2135,"[{'inventory_item_id': 'CH01RHGLD_20494', 'sku...","[{'id': '147415', 'arrived_date': '2023-10-25T...","{'address1': None, 'address2': None, 'address3...",[],[],https://shipcalm.infopluswms.com/infoplus-wms/...,"{'supplier_id': '1299_20494', 'supplier_name':...",[],NaN
612,98649,20494,2023-10-19 19:04:53+00:00,2023-10-31 10:26:51+00:00,MSAI23-0924,received,Received,1300.0,2023-10-19 00:00:00+00:00,2135,"[{'inventory_item_id': 'DI55TBT01_20494', 'sku...","[{'id': '147764', 'arrived_date': '2023-10-31T...","{'address1': None, 'address2': None, 'address3...",[],[],https://shipcalm.infopluswms.com/infoplus-wms/...,"{'supplier_id': '1300_20494', 'supplier_name':...",[],NaN
613,98650,20494,2023-10-19 19:07:34+00:00,2023-10-25 17:25:26+00:00,MSAI23-1005,received,Received,1300.0,2023-10-19 00:00:00+00:00,2135,"[{'inventory_item_id': 'LGBOX_20494', 'sku': '...","[{'id': '147767', 'arrived_date': '2023-10-23T...","{'address1': None, 'address2': None, 'address3...",[],[],https://shipcalm.infopluswms.com/infoplus-wms/...,"{'supplier_id': '1300_20494', 'supplier_name':...",[],NaN
614,98953,20494,2023-10-23 18:48:15+00:00,2023-11-16 11:50:14+00:00,ASN-102323,received,Received,1296.0,2023-10-23 00:00:00+00:00,2135,"[{'inventory_item_id': 'AB10PTOR10_20494', 'sk...","[{'id': '148236', 'arrived_date': '2023-11-02T...","{'address1': None, 'address2': None, 'address3...",[],[],https://shipcalm.infopluswms.com/infoplus-wms/...,"{'supplier_id': '1296_20494', 'supplier_name':...",[],NaN
615,99290,20494,2023-10-25 18:03:38+00:00,2023-10-25 18:17:27+00:00,PROXY-LOOKOPTIC-102523,received,Received,1299.0,2023-10-25 00:00:00+00:00,2135,"[{'inventory_item_id': 'LS95SNV10_20494', 'sku...","[{'id': '148871', 'arrived_date': '2023-10-25T...","{'address1': None, 'address2': None, 'address3...",[],[],https://shipcalm.infopluswms.com/infoplus-wms/...,"{'supplier_id': '1299_20494', 'supplier_name':...",[],NaN

In [8]:
shipping_methods

,id,created_date,updated_date,name,carrier,additional_fields
0,0,2024-07-11 21:59:59+00:00,2025-05-21 04:39:30+00:00,UPS GROUND (UPS 0),NaN,{}
1,1,2024-07-11 21:59:59+00:00,2025-05-21 04:39:30+00:00,UPS-1 DAY (UPS 1),NaN,{}
2,100,2024-07-11 21:59:59+00:00,2025-05-21 04:39:30+00:00,TRUCK (MISC 100),NaN,{}
3,10000,2024-07-11 21:59:59+00:00,2025-05-21 04:39:30+00:00,Unknown External Carrier (OTHER 10000),NaN,{}
4,10001,2024-07-11 21:59:59+00:00,2025-05-21 04:39:30+00:00,UPS - Unknown Type (UPS 10001),NaN,{}
...,...,...,...,...,...,...
324,922,2024-07-11 21:59:59+00:00,2025-05-21 04:39:30+00:00,2nd Day Air-Adult Sig. Re (UPS 922),NaN,{}
325,923,2024-07-11 21:59:59+00:00,2025-05-21 04:39:30+00:00,3 Day Select-Adult Sig. R (UPS 923),NaN,{}
326,924,2024-07-11 21:59:59+00:00,2025-05-21 04:39:30+00:00,1st Day Air-PM-Adult Sig. (UPS 924),NaN,{}
327,925,2024-07-11 21:59:59+00:00,2025-05-21 04:39:30+00:00,2nd Day Air-AM-Adult Sig. (UPS 925),NaN,{}
328,926,2024-07-11 21:59:59+00:00,2025-05-21 04:39:30+00:00,1st Day Air-EarlyAM-Adult (UPS 926),NaN,{}

In [9]:
suppliers

     Unnamed: 0
0            id
1  created_date
2  updated_date

In [10]:
inbound_shipments[inbound_shipments.apply(lambda row: row.astype(str).str.contains('DI55TBTR6').any(), axis=1)]

,id,warehouse_customer_id,created_date,updated_date,purchase_order_number,status,raw_status,supplier,expected_arrival_date,warehouse_id,line_items,receipts,ship_from_address,tracking_numbers,notes,external_system_url,supplier_object,trackstar_tags,additional_fields
80,140930,20494,2024-04-23 19:13:12+00:00,2024-04-24 11:42:14+00:00,ASN-MSAI24-0222,received,Received,1300.0,2024-04-23 00:00:00+00:00,2135,"[{'inventory_item_id': 'DI55TBT01_20494', 'sku...","[{'id': '215495', 'arrived_date': '2024-04-24T...","{'address1': None, 'address2': None, 'address3...",[],[],https://shipcalm.infopluswms.com/infoplus-wms/...,"{'supplier_id': '1300_20494', 'supplier_name':...",[],NaN
125,159466,20494,2024-07-16 19:19:26+00:00,2024-07-17 17:29:37+00:00,ASN-MSAI24-0711,received,Received,1300.0,2024-07-16 00:00:00+00:00,2135,"[{'inventory_item_id': 'DI55TBT01_20494', 'sku...","[{'id': '245139', 'arrived_date': '2024-07-17T...","{'address1': None, 'address2': None, 'address3...",[],[],https://shipcalm.infopluswms.com/infoplus-wms/...,"{'supplier_id': '1300_20494', 'supplier_name':...",[],NaN
139,170624,20494,2024-08-13 18:36:10+00:00,2024-08-16 16:08:34+00:00,ASN-MSAI24-0701-SEA,received,Received,1300.0,2024-08-14 00:00:00+00:00,2135,"[{'inventory_item_id': 'DI55TBT01_20494', 'sku...","[{'id': '261200', 'arrived_date': '2024-08-16T...","{'address1': None, 'address2': None, 'address3...",[],[],https://shipcalm.infopluswms.com/infoplus-wms/...,"{'supplier_id': '1300_20494', 'supplier_name':...",[],NaN
359,270041,20494,2025-02-18 17:31:31+00:00,2025-02-18 17:34:38+00:00,PROXY.LOOKOPTIC.02182025,received,Received,1296.0,2025-02-18 00:00:00+00:00,2135,"[{'inventory_item_id': 'DI55TBTR6_20494', 'sku...","[{'id': '404816', 'arrived_date': '2025-02-18T...","{'address1': None, 'address2': None, 'address3...",[],[],https://shipcalm.infopluswms.com/infoplus-wms/...,"{'supplier_id': '1296_20494', 'supplier_name':...",[],NaN

In [11]:
inventory

,id,warehouse_customer_id,created_date,updated_date,name,sku,active,awaiting,onhand,committed,unfulfillable,fulfillable,unsellable,sellable,substitute_skus,inventory_by_warehouse_id,lots,measurements,locations,external_system_url,unit_cost,trackstar_tags,additional_fields
0,AB10BBLK00_20494,20494,2024-03-06 06:00:00+00:00,2025-06-17 07:13:23+00:00,Abbey Blue-light Black 0,AB10BBLK00,True,0,106,0,0,106,0,106,[],"{'2121': {'awaiting': 0, 'onhand': 0, 'committ...",[],"{'length': 7.0, 'width': 3.12, 'height': 2.0, ...",[],https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,[],{}
1,AB10BBLK10_20494,20494,2024-04-09 05:00:00+00:00,2025-06-10 07:42:06+00:00,Abbey Blue-light Black 1,AB10BBLK10,True,0,23,0,0,23,0,23,[],"{'2121': {'awaiting': 0, 'onhand': 0, 'committ...",[],"{'length': 7.0, 'width': 3.12, 'height': 2.0, ...",[],https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,[],{}
2,AB10BBLK15_20494,20494,2024-03-06 06:00:00+00:00,2025-06-24 05:38:40+00:00,Abbey Blue-light Black 1.5,AB10BBLK15,True,0,41,0,0,41,0,41,[],"{'2121': {'awaiting': 0, 'onhand': 0, 'committ...",[],"{'length': 7.0, 'width': 3.12, 'height': 2.0, ...",[],https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,[],{}
3,AB10BBLK20_20494,20494,2024-03-06 06:00:00+00:00,2025-06-18 05:33:29+00:00,Abbey Blue-light Black 2,AB10BBLK20,True,0,31,0,0,31,0,31,[],"{'2121': {'awaiting': 0, 'onhand': 0, 'committ...",[],"{'length': 7.0, 'width': 3.12, 'height': 2.0, ...",[],https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,[],{}
4,AB10BBLK25_20494,20494,2025-04-10 05:00:00+00:00,2025-06-22 06:10:24+00:00,Abbey Blue-light Black 2.5,AB10BBLK25,True,0,29,0,0,29,0,29,[],"{'2121': {'awaiting': 0, 'onhand': 0, 'committ...",[],"{'length': 7.0, 'width': 3.12, 'height': 2.0, ...",[],https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,[],{}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1829,WI80SBLK20_20494,20494,2024-03-06 06:00:00+00:00,2025-06-13 22:28:44+00:00,Wills Sun Black 2,WI80SBLK20,True,0,4,0,0,4,0,4,[],"{'2121': {'awaiting': 0, 'onhand': 0, 'committ...",[],"{'length': 7.0, 'width': 2.0, 'height': 10.0, ...",[],https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,[],{}
1830,WI80SBLK25_20494,20494,2024-04-09 05:00:00+00:00,2025-06-13 22:28:56+00:00,Wills Sun Black 2.5,WI80SBLK25,True,0,0,0,0,0,0,0,[],"{'2121': {'awaiting': 0, 'onhand': 0, 'committ...",[],"{'length': 7.0, 'width': 2.0, 'height': 10.0, ...",[],https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,[],{}
1831,WI80SNTP10_20494,20494,2024-03-06 06:00:00+00:00,2025-06-13 22:29:06+00:00,Wills Sun Navy Taupe 1,WI80SNTP10,True,0,0,0,0,0,0,0,[],"{'2121': {'awaiting': 0, 'onhand': 0, 'committ...",[],"{'length': 7.0, 'width': 2.0, 'height': 10.0, ...",[],https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,[],{}
1832,WI80SNTP15_20494,20494,2025-04-02 05:00:00+00:00,2025-06-05 21:38:57+00:00,Wills Sun Navy Taupe 1.5,WI80SNTP15,True,0,4,0,0,4,0,4,[],"{'2121': {'awaiting': 0, 'onhand': 0, 'committ...",[],"{'length': 7.0, 'width': 3.12, 'height': 2.0, ...",[],https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,[],{}
1833,WI80SNTP20_20494,20494,2024-03-06 06:00:00+00:00,2025-06-13 22:29:15+00:00,Wills Sun Navy Taupe 2,WI80SNTP20,True,0,0,0,0,0,0,0,[],"{'2121': {'awaiting': 0, 'onhand': 0, 'committ...",[],"{'length': 7.0, 'width': 2.0, 'height': 10.0, ...",[],https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,[],{}

In [12]:
orders_line_items[orders_line_items['sku'] == 'DI55TBTR6']

,product_id,sku,quantity,unit_price,is_picked,discount_amount,id
124375,DI55TBTR6_20494,DI55TBTR6,1,0.0,True,NaN,1466877.0
125287,DI55TBTR6_20494,DI55TBTR6,1,0.0,True,NaN,1469334.0
141551,DI55TBTR6_20494,DI55TBTR6,1,0.0,True,NaN,1531343.0
150963,DI55TBTR6_20494,DI55TBTR6,1,0.0,True,NaN,1563408.0
173913,DI55TBTR6_20494,DI55TBTR6,1,0.0,True,NaN,1630220.0
198958,DI55TBTR6_20494,DI55TBTR6,1,0.0,True,NaN,1693096.0
250531,DI55TBTR6_20494,DI55TBTR6,1,0.0,True,NaN,1828561.0
258555,DI55TBTR6_20494,DI55TBTR6,1,0.0,True,NaN,1849291.0
265349,DI55TBTR6_20494,DI55TBTR6,1,0.0,True,NaN,1867075.0
291950,DI55TBTR6_20494,DI55TBTR6,1,0.0,True,NaN,1946519.0
305576,DI55TBTR6_20494,DI55TBTR6,1,0.0,True,NaN,1994435.0
314675,DI55TBTR6_20494,DI55TBTR6,1,0.0,True,NaN,2032152.0
325735,DI55TBTR6_20494,DI55TBTR6,1,0.0,True,NaN,2076018.0
341866,DI55TBTR6_20494,DI55TBTR6,1,0.0,True,NaN,2139807.0
383431,DI55TBTR6_20494,DI55TBTR6,4,70.0,True,NaN,2229050.0
431896,DI55TBTR6_20494,DI55TBTR6,1,0.0,True,NaN,2341180.0
513892,DI55TBTR6_20494,DI55TBTR6,1,36.0,True,0.0,2588026.0
518970,DI55TBTR6_20494,DI55TBTR6,1,36.0,False,0.0,2604762.0
522764,DI55TBTR6_20494,DI55TBTR6,1,0.0,True,NaN,2617907.0
527742,DI55TBTR6_20494,DI55TBTR6,1,70.0,True,NaN,2631639.0

In [13]:
orders_filtered = orders[orders['id'].isin([1466877.0, 1469334.0, 1531343.0, 1563408.0, 1630220.0])]
orders_filtered

,id,warehouse_customer_id,created_date,updated_date,reference_id,order_number,status,raw_status,channel,type,trading_partner,shipping_method,invoice_currency_code,total_price,total_tax,total_discount,total_shipping,ship_to_address,line_items,tags,required_ship_date,shipments,external_system_url,channel_object,trackstar_tags,warehouse_id,is_third_party_freight,third_party_freight_account_number,saturday_delivery,signature_required,international_duty_paid_by,first_party_freight_account_number,additional_fields
88146,1466877.0,20494,2024-05-22 17:04:00+00:00,2024-05-23 18:07:23+00:00,1466877.0,1466877.0,fulfilled,Shipped,NaN,NaN,NaN,NaN,USD,1280.0,0.0,NaN,0.0,"{'full_name': 'SCOTT GOLDSMITH', 'company': 'S...","[{'product_id': 'CO70BLK15_20494', 'sku': 'CO7...",[],2024-05-22 05:00:00+00:00,"[{'shipment_id': '1366953', 'warehouse_id': '2...",https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88737,1469334.0,20494,2024-05-23 17:44:00+00:00,2024-05-30 19:31:10+00:00,1469334.0,1469334.0,fulfilled,Shipped,NaN,NaN,NaN,NaN,USD,1532.0,0.0,NaN,0.0,"{'full_name': 'BEAUCOUP CAFE', 'company': 'CHE...","[{'product_id': 'CO70LKB20_20494', 'sku': 'CO7...",[],2024-05-23 05:00:00+00:00,"[{'shipment_id': '1387292', 'warehouse_id': '2...",https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99787,1531343.0,20494,2024-06-13 21:23:00+00:00,2024-06-18 21:42:05+00:00,1531343.0,1531343.0,fulfilled,Shipped,NaN,NaN,NaN,NaN,USD,976.0,0.0,NaN,0.0,"{'full_name': 'DAVENPORT HOTEL, THE', 'company...","[{'product_id': 'CO70BLK10_20494', 'sku': 'CO7...",[],2024-06-13 05:00:00+00:00,"[{'shipment_id': '1435234', 'warehouse_id': '2...",https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106273,1563408.0,20494,2024-06-25 19:23:00+00:00,2024-07-03 15:34:24+00:00,1563408.0,1563408.0,fulfilled,Shipped,NaN,NaN,NaN,NaN,USD,889.0,0.0,NaN,40.0,"{'full_name': 'PRAIRIE', 'company': 'PRAIRIE',...","[{'product_id': 'CO70BLK15_20494', 'sku': 'CO7...",[],2024-06-25 05:00:00+00:00,"[{'shipment_id': '1475792', 'warehouse_id': '2...",https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121890,1630220.0,20494,2024-07-19 20:03:00+00:00,2024-07-24 16:02:07+00:00,1630220.0,1630220.0,fulfilled,Shipped,NaN,NaN,NaN,NaN,USD,821.0,0.0,NaN,40.0,"{'full_name': None, 'company': 'SANCTUARY HOME...","[{'product_id': 'CO70TPE10_20494', 'sku': 'CO7...",[],2024-07-19 05:00:00+00:00,"[{'shipment_id': '1530543', 'warehouse_id': '2...",https://shipcalm.infopluswms.com/infoplus-wms/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
products[products['sku'] == 'DI55TBTR6']

,id,warehouse_customer_id,created_date,updated_date,name,sku,gtin,inventory_items,is_kit,active,supplier,country_of_origin,harmonized_code,supplier_products,external_system_url,unit_price,supplier_object,trackstar_tags,additional_fields
667,DI55TBTR6_20494,20494,2024-04-23 05:00:00+00:00,2025-06-17 18:41:52+00:00,Table Top Tower Display - 6 pc - Right,DI55TBTR6,810120704647,"[{'inventory_item_id': 'DI55TBTR6_20494', 'sku...",False,True,NaN,NaN,6661.0,[],https://shipcalm.infopluswms.com/infoplus-wms/...,36.0,NaN,[],{}

In [15]:
shipping_methods

,id,created_date,updated_date,name,carrier,additional_fields
0,0,2024-07-11 21:59:59+00:00,2025-05-21 04:39:30+00:00,UPS GROUND (UPS 0),NaN,{}
1,1,2024-07-11 21:59:59+00:00,2025-05-21 04:39:30+00:00,UPS-1 DAY (UPS 1),NaN,{}
2,100,2024-07-11 21:59:59+00:00,2025-05-21 04:39:30+00:00,TRUCK (MISC 100),NaN,{}
3,10000,2024-07-11 21:59:59+00:00,2025-05-21 04:39:30+00:00,Unknown External Carrier (OTHER 10000),NaN,{}
4,10001,2024-07-11 21:59:59+00:00,2025-05-21 04:39:30+00:00,UPS - Unknown Type (UPS 10001),NaN,{}
...,...,...,...,...,...,...
324,922,2024-07-11 21:59:59+00:00,2025-05-21 04:39:30+00:00,2nd Day Air-Adult Sig. Re (UPS 922),NaN,{}
325,923,2024-07-11 21:59:59+00:00,2025-05-21 04:39:30+00:00,3 Day Select-Adult Sig. R (UPS 923),NaN,{}
326,924,2024-07-11 21:59:59+00:00,2025-05-21 04:39:30+00:00,1st Day Air-PM-Adult Sig. (UPS 924),NaN,{}
327,925,2024-07-11 21:59:59+00:00,2025-05-21 04:39:30+00:00,2nd Day Air-AM-Adult Sig. (UPS 925),NaN,{}
328,926,2024-07-11 21:59:59+00:00,2025-05-21 04:39:30+00:00,1st Day Air-EarlyAM-Adult (UPS 926),NaN,{}

In [16]:
suppliers

     Unnamed: 0
0            id
1  created_date
2  updated_date

In [17]:
# Extract unit_quantity from inventory_items
def extract_unit_quantity(item_list):
    if isinstance(item_list, str):  # If it's stored as a string, convert it to a list
        try:
            item_list = ast.literal_eval(item_list)
        except (ValueError, SyntaxError):
            return None  # Return None if conversion fails
    if isinstance(item_list, list) and len(item_list) > 0:
        return item_list[0].get('unit_quantity', None)  # Get unit_quantity from first item
    return None

# Apply extraction function
products['unit_quantity'] = products['inventory_items'].apply(extract_unit_quantity)

# Merge with inventory data
sku_data = pd.merge(
    products[['sku', 'name', 'id', 'created_date', 'unit_quantity']],
    inventory[['sku', 'awaiting', 'onhand', 'committed', 'unfulfillable', 'fulfillable', 'unsellable', 'sellable']],
    on='sku',
    how='left'
)

# Compare unit_quantity with sellable inventory
sku_data['unit_quantity_matches_sellable'] = sku_data['unit_quantity'] == sku_data['sellable']


sku_data

,sku,name,id,created_date,unit_quantity,awaiting,onhand,committed,unfulfillable,fulfillable,unsellable,sellable,unit_quantity_matches_sellable
0,AB10BBLK00,Abbey Blue-light Black 0,AB10BBLK00_20494,2024-03-06 06:00:00+00:00,106,0.0,106.0,0.0,0.0,106.0,0.0,106.0,True
1,AB10BBLK10,Abbey Blue-light Black 1,AB10BBLK10_20494,2024-04-09 05:00:00+00:00,23,0.0,23.0,0.0,0.0,23.0,0.0,23.0,True
2,AB10BBLK15,Abbey Blue-light Black 1.5,AB10BBLK15_20494,2024-03-06 06:00:00+00:00,41,0.0,41.0,0.0,0.0,41.0,0.0,41.0,True
3,AB10BBLK20,Abbey Blue-light Black 2,AB10BBLK20_20494,2024-03-06 06:00:00+00:00,31,0.0,31.0,0.0,0.0,31.0,0.0,31.0,True
4,AB10BBLK25,Abbey Blue-light Black 2.5,AB10BBLK25_20494,2025-04-10 05:00:00+00:00,29,0.0,29.0,0.0,0.0,29.0,0.0,29.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1834,WI80SBLK20,Wills Sun Black 2,WI80SBLK20_20494,2024-03-06 06:00:00+00:00,4,0.0,4.0,0.0,0.0,4.0,0.0,4.0,True
1835,WI80SBLK25,Wills Sun Black 2.5,WI80SBLK25_20494,2024-04-09 05:00:00+00:00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
1836,WI80SNTP10,Wills Sun Navy Taupe 1,WI80SNTP10_20494,2024-03-06 06:00:00+00:00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
1837,WI80SNTP15,Wills Sun Navy Taupe 1.5,WI80SNTP15_20494,2025-04-02 05:00:00+00:00,4,0.0,4.0,0.0,0.0,4.0,0.0,4.0,True
1838,WI80SNTP20,Wills Sun Navy Taupe 2,WI80SNTP20_20494,2024-03-06 06:00:00+00:00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False

In [18]:
# EDA on Sales Data: Orders and Order Line Items

# Merge order dates into orders_line_items to add a time dimension to sales
# This merge assumes that the 'id' column in orders_line_items corresponds to orders.id.

orders_line_items = orders_line_items.merge(
    orders[['id', 'created_date']],
    left_on='id', 
    right_on='id',
    how='left'
)
orders_line_items.rename(columns={'created_date': 'order_date'}, inplace=True)

# Compute total units sold per SKU from orders_line_items
sales_by_sku = orders_line_items.groupby('sku')['quantity'].sum().reset_index(name='total_quantity_sold')
print("\nTop 10 SKUs by Sales Volume:")
print(sales_by_sku.sort_values(by='total_quantity_sold', ascending=False).head(10))
orders_line_items

Top 10 SKUs by Sales Volume:
             sku  total_quantity_sold
429   CO70PTPE15                12172
430   CO70PTPE20                 7248
1005  LA40PTOR15                 6345
389   CO70PLKB15                 5834
419   CO70PTOR15                 5354
379   CO70PCHA15                 5289
1381  MU35PGLP15                 5170
975   LA40PCHA15                 4964
494    CO70TPE15                 4871
431   CO70PTPE25                 4592

,product_id,sku,quantity,unit_price,is_picked,discount_amount,id,order_date
0,CO70BLK10_20494,CO70BLK10,1,44.2,True,NaN,1000033.0,2023-11-25 09:01:00+00:00
1,CO70CRN10_20494,CO70CRN10,1,68.0,True,NaN,1000033.0,2023-11-25 09:01:00+00:00
2,CO70LKB10_20494,CO70LKB10,1,68.0,True,NaN,1000033.0,2023-11-25 09:01:00+00:00
3,BO20SGB15_20494,BO20SGB15,1,68.0,True,NaN,1000063.0,2023-11-25 09:42:00+00:00
4,SU30PNAV15_20494,SU30PNAV15,1,98.0,True,NaN,1000063.0,2023-11-25 09:42:00+00:00
...,...,...,...,...,...,...,...,...
545035,LA40PNAV15_20494,LA40PNAV15,1,98.0,True,NaN,999996.0,2023-11-25 08:21:00+00:00
545036,CO70PTOR15_20494,CO70PTOR15,1,98.0,True,NaN,999997.0,2023-11-25 08:21:00+00:00
545037,SU30TOR15_20494,SU30TOR15,1,68.0,True,NaN,999997.0,2023-11-25 08:21:00+00:00
545038,CO70PTOR15_20494,CO70PTOR15,1,98.0,True,NaN,999998.0,2023-11-25 08:21:00+00:00
545039,MU35PGLD10_20494,MU35PGLD10,1,112.0,True,NaN,999998.0,2023-11-25 08:21:00+00:00

In [19]:
# Compute total quantity sold per SKU
total_quantity_sold = orders_line_items.groupby('sku')['quantity'].sum().reset_index()
total_quantity_sold.rename(columns={'quantity': 'total_quantity_sold'}, inplace=True)

# Compute average unit price per SKU
avg_unit_price = orders_line_items.groupby('sku')['unit_price'].mean().reset_index()
avg_unit_price.rename(columns={'unit_price': 'avg_unit_price'}, inplace=True)

# Group order details: order date, quantity, and price per SKU
order_details = orders_line_items.groupby('sku', group_keys=False).apply(
    lambda x: list(zip(x['order_date'], x['quantity'], x['unit_price']))
).reset_index(name='order_history')

# Merge sales data into sku_data
sku_data = sku_data.merge(total_quantity_sold, on='sku', how='left')
sku_data = sku_data.merge(avg_unit_price, on='sku', how='left')
sku_data = sku_data.merge(order_details, on='sku', how='left')

# Fill NaN values with appropriate defaults (corrected version)
sku_data = sku_data.assign(
    total_quantity_sold=sku_data['total_quantity_sold'].fillna(0),
    avg_unit_price=sku_data['avg_unit_price'].fillna(0),
    order_history=sku_data['order_history'].fillna("No Sales")
)

# Display updated sku_data
print(sku_data)

# Display info about sku_data
print("\nSKU Data Info:")
print(sku_data.info())

# Display summary statistics for sku_data
print("\nSKU Data Summary Statistics:")
print(sku_data.describe())

             sku                        name                id  \
0     AB10BBLK00    Abbey Blue-light Black 0  AB10BBLK00_20494
1     AB10BBLK10    Abbey Blue-light Black 1  AB10BBLK10_20494
2     AB10BBLK15  Abbey Blue-light Black 1.5  AB10BBLK15_20494
3     AB10BBLK20    Abbey Blue-light Black 2  AB10BBLK20_20494
4     AB10BBLK25  Abbey Blue-light Black 2.5  AB10BBLK25_20494
...          ...                         ...               ...
1834  WI80SBLK20           Wills Sun Black 2  WI80SBLK20_20494
1835  WI80SBLK25         Wills Sun Black 2.5  WI80SBLK25_20494
1836  WI80SNTP10      Wills Sun Navy Taupe 1  WI80SNTP10_20494
1837  WI80SNTP15    Wills Sun Navy Taupe 1.5  WI80SNTP15_20494
1838  WI80SNTP20      Wills Sun Navy Taupe 2  WI80SNTP20_20494

                  created_date  unit_quantity  awaiting  onhand  committed  \
0    2024-03-06 06:00:00+00:00            106       0.0   106.0        0.0
1    2024-04-09 05:00:00+00:00             23       0.0    23.0        0.0
2    2024-03-06 06:00:00+00:00             41       0.0    41.0        0.0
3    2024-03-06 06:00:00+00:00             31       0.0    31.0        0.0
4    2025-04-10 05:00:00+00:00             29       0.0    29.0        0.0
...                        ...            ...       ...     ...        ...
1834 2024-03-06 06:00:00+00:00              4       0.0     4.0        0.0
1835 2024-04-09 05:00:00+00:00              1       0.0     0.0        0.0
1836 2024-03-06 06:00:00+00:00              1       0.0     0.0        0.0
1837 2025-04-02 05:00:00+00:00              4       0.0     4.0        0.0
1838 2024-03-06 06:00:00+00:00              1       0.0     0.0        0.0

      unfulfillable  fulfillable  unsellable  sellable  \
0               0.0        106.0         0.0     106.0
1               0.0         23.0         0.0      23.0
2               0.0         41.0         0.0      41.0
3               0.0         31.0         0.0      31.0
4               0.0         29.0         0.0      29.0
...             ...          ...         ...       ...
1834            0.0          4.0         0.0       4.0
1835            0.0          0.0         0.0       0.0
1836            0.0          0.0         0.0       0.0
1837            0.0          4.0         0.0       4.0
1838            0.0          0.0         0.0       0.0

      unit_quantity_matches_sellable  total_quantity_sold  avg_unit_price  \
0                               True                 65.0       65.285231
1                               True                  7.0       73.714286
2                               True                 33.0       58.620690
3                               True                 97.0       73.911398
4                               True                  5.0       74.400000
...                              ...                  ...             ...
1834                            True                  5.0       82.000000
1835                           False                  5.0       82.000000
1836                           False                  1.0       82.000000
1837                            True                  0.0        0.000000
1838                           False                  5.0       82.000000

                                          order_history
0     [(2024-04-03 17:03:00+00:00, 1, 42.0), (2024-0...
1     [(2024-04-19 00:06:00+00:00, 1, 88.0), (2024-0...
2     [(2024-03-30 07:17:00+00:00, 1, 66.0), (2024-0...
3     [(2024-03-29 18:22:00+00:00, 1, 88.0), (2024-0...
4     [(2025-04-20 15:44:00+00:00, 1, 66.0), (2025-0...
...                                                 ...
1834  [(2024-03-20 16:42:00+00:00, 1, 82.0), (2024-0...
1835  [(2024-04-27 13:25:00+00:00, 1, 82.0), (2024-0...
1836             [(2024-06-21 08:26:00+00:00, 1, 82.0)]
1837                                           No Sales
1838  [(2024-06-07 18:45:00+00:00, 1, 82.0), (2024-0...

[1839 rows x 16 columns]

SKU Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1839 entries, 0 to 1838
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   sku                             1839 non-null   object
 1   name                            1839 non-null   object
 2   id                              1839 non-null   object
 3   created_date                    1839 non-null   datetime64[ns, UTC]
 4   unit_quantity                   1839 non-null   int64
 5   awaiting                        1834 non-null   float64
 6   onhand                          1834 non-null   float64
 7   committed                       1834 non-null   float64
 8   unfulfillable                   1834 non-null   float64
 9   fulfillable                     1834 non-null   float64
 10  unsellable                      1834 non-null   float64
 11  sellable                        1834 non-null   float64
 12  unit_quantity_matches_sellable  1839 non-null   bool
 13  total_quantity_sold             1839 non-null   float64
 14  avg_unit_price                  1839 non-null   float64
 15  order_history                   1839 non-null   object
dtypes: bool(1), datetime64[ns, UTC](1), float64(9), int64(1), object(4)
memory usage: 217.4+ KB
None

SKU Data Summary Statistics:
       unit_quantity     awaiting        onhand    committed  unfulfillable  \
count    1839.000000  1834.000000   1834.000000  1834.000000    1834.000000
mean      195.545405     0.730098    196.393130     1.121047       1.206107
std       891.043720     3.661584    892.466237     2.832005       6.538488
min         1.000000     0.000000      0.000000     0.000000       0.000000
25%         1.000000     0.000000      1.000000     0.000000       0.000000
50%        27.000000     0.000000     27.500000     0.000000       0.000000
75%       136.000000     0.000000    137.000000     2.000000       0.000000
max     32019.000000    83.000000  32019.000000    63.000000     137.000000

        fulfillable  unsellable      sellable  total_quantity_sold  \
count   1834.000000      1834.0   1834.000000          1839.000000
mean     194.065976         0.0    194.065976           327.035345
std      891.250178         0.0    891.250178           729.747301
min       -3.000000         0.0     -3.000000             0.000000
25%        1.000000         0.0      1.000000            22.000000
50%       26.000000         0.0     26.000000            87.000000
75%      135.000000         0.0    135.000000           286.000000
max    32019.000000         0.0  32019.000000         12172.000000

       avg_unit_price
count     1839.000000
mean        69.711497
std         25.484739
min          0.000000
25%         60.956213
50%         68.000000
75%         88.435875
max        121.000000

/var/folders/_j/5gy7sssx29n0hjwrrtf9w0zh0000gn/T/ipykernel_84377/1303018594.py:10: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  order_details = orders_line_items.groupby('sku', group_keys=False).apply(

In [20]:
print("\nSku Data")
print(sku_data.head())
print("\n")
print(sku_data.info())

Sku Data
          sku                        name                id  \
0  AB10BBLK00    Abbey Blue-light Black 0  AB10BBLK00_20494
1  AB10BBLK10    Abbey Blue-light Black 1  AB10BBLK10_20494
2  AB10BBLK15  Abbey Blue-light Black 1.5  AB10BBLK15_20494
3  AB10BBLK20    Abbey Blue-light Black 2  AB10BBLK20_20494
4  AB10BBLK25  Abbey Blue-light Black 2.5  AB10BBLK25_20494

               created_date  unit_quantity  awaiting  onhand  committed  \
0 2024-03-06 06:00:00+00:00            106       0.0   106.0        0.0
1 2024-04-09 05:00:00+00:00             23       0.0    23.0        0.0
2 2024-03-06 06:00:00+00:00             41       0.0    41.0        0.0
3 2024-03-06 06:00:00+00:00             31       0.0    31.0        0.0
4 2025-04-10 05:00:00+00:00             29       0.0    29.0        0.0

   unfulfillable  fulfillable  unsellable  sellable  \
0            0.0        106.0         0.0     106.0
1            0.0         23.0         0.0      23.0
2            0.0         41.0         0.0      41.0
3            0.0         31.0         0.0      31.0
4            0.0         29.0         0.0      29.0

   unit_quantity_matches_sellable  total_quantity_sold  avg_unit_price  \
0                            True                 65.0       65.285231
1                            True                  7.0       73.714286
2                            True                 33.0       58.620690
3                            True                 97.0       73.911398
4                            True                  5.0       74.400000

                                       order_history
0  [(2024-04-03 17:03:00+00:00, 1, 42.0), (2024-0...
1  [(2024-04-19 00:06:00+00:00, 1, 88.0), (2024-0...
2  [(2024-03-30 07:17:00+00:00, 1, 66.0), (2024-0...
3  [(2024-03-29 18:22:00+00:00, 1, 88.0), (2024-0...
4  [(2025-04-20 15:44:00+00:00, 1, 66.0), (2025-0...


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1839 entries, 0 to 1838
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   sku                             1839 non-null   object
 1   name                            1839 non-null   object
 2   id                              1839 non-null   object
 3   created_date                    1839 non-null   datetime64[ns, UTC]
 4   unit_quantity                   1839 non-null   int64
 5   awaiting                        1834 non-null   float64
 6   onhand                          1834 non-null   float64
 7   committed                       1834 non-null   float64
 8   unfulfillable                   1834 non-null   float64
 9   fulfillable                     1834 non-null   float64
 10  unsellable                      1834 non-null   float64
 11  sellable                        1834 non-null   float64
 12  unit_quantity_matches_sellable  1839 non-null   bool
 13  total_quantity_sold             1839 non-null   float64
 14  avg_unit_price                  1839 non-null   float64
 15  order_history                   1839 non-null   object
dtypes: bool(1), datetime64[ns, UTC](1), float64(9), int64(1), object(4)
memory usage: 217.4+ KB
None